@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-primary: 'Tagesschrift', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
  }

  .customize-table {
    --easy-table-header-background-color: transparent;
    --easy-table-body-row-background-color: #fff;
    --easy-table-footer-background-color: transparent;
    border-radius: 10px;

    --easy-table-header-height: 48px;
    --easy-table-body-row-height: 48px;
    --easy-table-border: none;
  }
}
